body {
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.keys {
    border: 2px so  lid black;
    display: flex;
}

.key {
    border: 2px solid #4300FF;

    margin: 10px;
    padding: 10px;
}

.playing {
    transform:scale(1.1);
    border-color: #00FFDE;
    box-shadow: 0 0 10px #00FFDE;

}

kbd {
    /* border: 2px solid black; */

    font-size: large;
    display: block;
    text-align: center;
    font-style: italic;
}

span {
    /* border: 2px solid black; */
}